    
    <div>
<div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/soft-ui-dashboard/pages/dashboard.html "
        target="_blank">
        <span class="ms-1 font-weight-bold">Dashboard</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div style="height:fit-content;" class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
      <ul  class="navbar-nav">
        <li *ngFor="let link of links" class="nav-item">

          <a *ngIf="link.active == true" class="nav-link  active" [href]="link.url">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
             <img [src]="link.icon" alt="">
            </div>
            <span class="nav-link-text ms-1">{{link.title}}</span>
          </a>
           <a *ngIf="link.active == false" class="nav-link " [href]="link.url">
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
             <img [src]="link.icon" alt="">
            </div>
            <span class="nav-link-text ms-1">{{link.title}}</span>
          </a>
        </li>
        
      </ul>
    </div>
    </div>
    
 