<div class="card">

  <div class="card-header pb-0">
    <div class="row">
      <div class="col-lg-6 col-7">
        <h6>Publications</h6>
       
      </div>
      <div class="col-lg-6 col-5 my-auto text-end">
        
      </div>
    </div>
  </div>
  <div class="card-body px-0 pb-2">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <tr>
            <th *ngFor="let head of header" class="text-uppercase text-secondary text-xxs font-weight-bolder">{{head}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data" >
            <td class="break-word">
              <div >
                <div >         
                  <h6 class="text-xs font-weight-bold break-word">{{wrapTitle(item.title)}}</h6>
                </div>
              </div>
            </td>
            <td>
              <div class="avatar-group mt-2 tw-p-8">
               <!-- <span class="tw-bg-slate-300 tw-p-2 tw-rounded-2xl" *ngFor="let author of item.authors">{{author}}</span> -->
           
                <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-1 lg:tw-gap-1">
                  <div *ngFor="let author of item.authors" class="tw-p-2 tw-bg-slate-300 tw-rounded-2xl tw-flex tw-items-center tw-justify-center tw-break-all">{{author}}</div>
                </div>
              </div>
              
            </td>
            <td class="align-middle text-center text-sm">
              <span class="text-xs font-weight-bold "> {{item.quartile}} </span>
            </td>
            <td class="align-middle">
              <div class="progress-wrapper w-75 mx-auto">
                <div class="progress-info">
                  <div class="progress-percentage">
                    <span class="text-xs font-weight-bold">{{item.year}}</span>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






