<div class="dropdown float-lg-end  tw-w-fit tw-bg-white tw-mr-2 tw-rounded-sm">
  <a class="cursor-pointer " id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="assets/img/icons/down-arrow.svg" alt="">
  </a>

  <ul class="dropdown-menu py-3 ms-sm-n4 ms-n5  tw-text-center" aria-labelledby="dropdownTable">
    <li>
      <form action="">
        <div>
          <div class="tw-mb-1">
            <select [value]="firstCountrySelected" (change)="onFirstCountryChange($event.target)" class="tw-cursor-pointer tw-text-center tw-w-full " type="text" name="" id="">
              <option value="" selected disabled>Select First Country</option>
              <option *ngFor="let country of listCountry" [value]=country >{{country}}</option>
            </select>
          </div>
          <div class="tw-mb-1">
            <select [value]="secondCountrySelected"  (change)="onSecondCountryChange($event.target)" class="tw-cursor-pointer tw-text-center tw-w-full " type="text" name="" id="">
              <option value="" selected disabled>Select Second Country</option>
              <option *ngFor="let country of listCountry" [value]=country >{{country}}</option>
            </select>
          </div>
        </div>
      </form>
    </li>
    <!-- <li><a class="dropdown-item border-radius-md" (click)="selectYear($event)" href="javascript:;">2022</a></li>
    <li><a class="dropdown-item border-radius-md" (click)="selectYear($event)" href="javascript:;">2021</a></li>
    <li><a class="dropdown-item border-radius-md" (click)="selectYear($event)" href="javascript:;">2020</a></li> -->

  </ul>

</div>
<div class=" pb-0">
  <h6>Publications overview ({{firstCountrySelected +"/"+ secondCountrySelected}})</h6>
</div>

<div>
  <canvas id="chart-line" class="chart-canvas  tw-h-full"></canvas>
</div>